.login{
    display: flex;
    justify-content: space-around;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

.login .image-column .title {
    display: flex;
    justify-content: center;
    padding: 60px;
}


.login .form-column .title {
    padding: 60px;
}
/* .login-image {
    background-color: blue;
}

.login-form {
    background-color: red;
} */
