.login{
    display: flex;
    justify-content: space-around;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

.login .login-image .title {
    display: flex;
    justify-content: center;
}

.login .login-form .title {
    display: flex;
    justify-content: center;
}
/* .login-image {
    background-color: blue;
}

.login-form {
    background-color: red;
} */
